{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">WELCOME TO MY FIRST ECOM_WEBSITE</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
            <p Aligne=justify>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Suspendisse facilisis, est vel rutrum efficitur, nulla enim vulputate turpis,
    ut gravida lorem justo sit amet felis. Proin non luctus orci. Nullam interdum nisl arcu,
    et hendrerit tellus rhoncus non. Pellentesque ac tristique nulla. Sed ac porta justo. 
    Aenean maximus sed elit eget sollicitudin. Nullam tincidunt varius nisi, eu venenatis orci sodales in. 
    Nulla eleifend elementum risus. Vivamus bibendum rhoncus enim. Curabitur nulla augue, 
    convallis mollis nisl at,scelerisque fringilla nisl. Donec a nulla vel risus auctor finibus quis vel tellus.
<br><br>
    Integer pharetra elit et sollicitudin hendrerit.
    Nunc nec eleifend urna. Nulla vulputate elementum neque eget maximus.
    Fusce ultricies nec dolor id rhoncus. Donec at tincidunt massa, non porta diam. 
    Morbi id enim quis enim tincidunt varius id vel velit. Donec ullamcorper quam nec libero pharetra laoreet. 
    Aliquam eu lectus id felis faucibus pretium. Mauris urna dolor, sodales ac convallis quis, maximus id ligula. 
    Nullam imperdiet condimentum tempor. Maecenas sem ligula, cursus sit amet tempor sit amet, luctus eu dui. 
    Duis ullamcorper laoreet nisi ac luctus. Vestibulum fermentum vestibulum velit, ac fringilla dui tincidunt at.
    Vestibulum bibendum pellentesque mi, et luctus mauris malesuada non. Phasellus ac mi mattis, maximus nibh et,
    hendrerit lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
<br><br>
    Quisque auctor turpis a varius ultricies. Suspendisse in purus in libero interdum egestas.
    Phasellus massa odio, volutpat sit amet ex quis, scelerisque congue mauris. Integer odio enim, 
    condimentum non mollis eget, bibendum eu mi. Suspendisse in sapien sed dolor ultricies viverra. 
    Fusce cursus ornare sodales. In sagittis leo id turpis luctus viverra. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
    per inceptos himenaeos. Cras quis dapibus ipsum. Proin vel volutpat orci.
     
            </p>
<br><br><br>
            </div>
        </center>
    </div>
</div>

{% endblock content %}

