{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-100 mb-0">Login To Your Account...</p>
            <p class="lead fw-normal text-white-50 mb-0">HERE WHERE YOU CAN FIND WHAT ARE YOU LOOKING FOR AND MORE . . .</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

                <form method = 'POST' action = "{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      
                      <input type="text" class="form-control" name="username" placeholder='Entre Your Username'>
                      
                    </div>
                    <div class="mb-3">
                        <br><br>
                      
                      <input type="password" class="form-control" name='password' placeholder='Entre Your Password'>
                    </div>
                    
                    <button type="submit" class="btn btn-secondary">Login</button>
                  </form>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  
                  <br>
               
               
            
     
            

            </div>
        </center>
    </div>
</div>

{% endblock content %}