{% extends "base.html" %}

{% block content %}


<div class="container">
  <br><br>
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.product_image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
          <h4 class="card-title">Category : {{product.product_catgory}}</h4>
          <h5 class="card-title">{{product.product_name}}</h5>
          <h6 class="card-title">{{product.product_name}}</h6>
          
          {% if product.is_sale %}
          <div class= "d-flex justify-content-center small text-warning mb-2">
            <div class ="bi-star-fill"></div>
            &nbsp;&nbsp;sale!&nbsp;&nbsp;
            <div class = "bi-star-fill"></div>
            </div>
            <!-- Product price-->
            <strike>{{product.product_price}}</strike> Dh
            <br>
            {{product.sell_price}} Dh

          {% else %}
          ${{product.product_price}}

          {% endif %}
          <br>
          <a href={%url 'home'%} class = "btn btn-secondary">Home<a>

          </centre>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  <br><br>
                  
                                    

{% endblock content %}

